// Variables
$ligthGreen: #87faedfd;

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // Styles Login & Register components
    .auth {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $ligthGreen;

      h1 {
        font-size: 2rem;
        text-transform: uppercase;
        color: teal;
        margin-bottom: 1rem;
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        background-color: white;
        border-radius: 0.5rem;
        width: 200px;
        gap: 0.5rem;

        input {
          padding: 1rem;
          border: none;
          border-bottom: 1px solid #e1e1e1;
        }

        button {
          padding: 0.8rem;
          border: none;
          background-color: teal;
          margin-top: 1rem;
          color: white;
          cursor: pointer;
        }

        p {
          font-size: 1rem;
          color: red;
          text-align: center;
        }

        span {
          font-size: 1rem;
          text-align: center;
        }

        span a {
          text-decoration: none;
        }
      }
    }

    // Styles Navbar component
    .navbar {
      .container {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .nav {
          display: flex;
          align-items: center;
          gap: 1rem;

          h6 {
            font-size: 1rem;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $ligthGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            border: 1px solid $ligthGreen;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    // Styles Footer component
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $ligthGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 50px;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: 700;
      }
    }
  }
}
